
<div id="footer-wrapper">
<section id="footer" class="container">
		
<ul class="social">
	<li><a class="icon fa-envelope" href="mailto:{{site.email}}"><span class="label">Email</span></a></li>
	<li><a class="icon fa-twitter" href="https://www.twitter.com/{{site.twitter}}"><span class="label">Twitter</span></a></li>
	<li><a class="icon ai-google-scholar-square" href="https://scholar.google.com/citations?user={{site.twitter}}"><span class="label">GoogleScholar</span></a></li>
	<li><a class="icon ai ai-orcid" href="https://orcid.com/{{site.orcid}}"><span class="label">Orcid</span></a></li>
	<li><a class="icon fa-github" href="https://www.github.com/{{site.github}}"><span class="label">Github</span></a></li>
</ul>
</div>
	
