
<div id="footer-wrapper">
<section id="footer" class="container">
		
<ul class="social">
	<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
	<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
	<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
	<li><a class="ai ai-google-scholar-square" href="#"><span class="label">GoogleScholar</span></a></li>
</ul>
</section>
<section id="footer" class="container">

	<a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a>
	<a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a>
	<a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a>
	<a class="icon ai-google-scholar-square" href="#"><span class="label">GoogleScholar</span></a>
	<i class="icon fa-twitter" href="#"></i>
</section>
</div>
	
