
<div id="footer-wrapper">
<section id="footer" class="container">
		trying no div
						<ul class="social">
							<li><a class="icon fa-twitter-square" href="#"><span class="label">Twitter2</span></a></li>
							<li><a class="icon fa-american-sign-language-interpreting" href="#"><span class="label">Facebook</span></a></li>
							<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
							<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
							<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
							<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
						</ul>
	

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Andy Peters</li>
									</ul>
								</div>

						</div>
					