<!-- Add icon fonts -->
<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/assets/fonts/academicons/css/academicons.min.css" | prepend: site.baseurl }}">	
   
<footer class="blog-footer content-wrapper">
    
    <p>
        I'm trying to put a button here
        <button id="share-buttons">Share button</button>
    </p>
    <p>
        testing an icon link
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </p>
     <p>
        testing an envelope (new stylesheet link)
        <i class="fa-envelope"></i>
        <i class="fa fa-envelope"></i>
        <i class="fas fa-envelope"></i>
        <i class="ai-google-scholar"></i>
    </p>
    
  <p>&copy; <span class="full-year"></span> {{ site.title }}</p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

