
<div id="header-wrapper">
		<section id="header">

			<!-- Logo -->
				<h1><a href="index.html">academicons add5</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
			
				{% assign current = page.url | split: '/' %}
					<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
					<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">CV</a></li>
					<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">Publications</a></li>
					<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">Data</a></li>

					<li>
							<a href="">Code</a>
							<ul>
								<li><a href="{{ site.baseurl }}/blog">Github</a></li>
								<li><a href="#">Widefield</a></li>
								<li><a href="#">Electrophysiology</a></li>
								<li><a href="#">Plotting</a></li>
							</ul>
					</li>



					</ul>
				</nav>

					
		</section>
</div>

