/* Mobile: turn off regular navigation, turn on side menu */


/*********************************************************************************/
/* Mobile UI                                                                     */
/*********************************************************************************/

	#navPanel
	{
		color: #858484;
		background-image: url('');
		box-shadow: inset -3px 0px 5px 0px rgba(0,0,0,0.35);
	}

		#navPanel .link
		{
			display: block;
			color: #888;
			text-decoration: none;
			height: 44px;
			line-height: 44px;
			border-top: solid 1px rgba(255,255,255,0.05);
			padding: 0 1em 0 1em;
			font-style: normal;
		}
		
			#navPanel .link:first-child
			{
				border-top: 0;
			}

		#navPanel .indent-1 { display: inline-block; width: 1em; }
		#navPanel .indent-2 { display: inline-block; width: 2em; }
		#navPanel .indent-3 { display: inline-block; width: 3em; }
		#navPanel .indent-4 { display: inline-block; width: 4em; }
		#navPanel .indent-5 { display: inline-block; width: 5em; }
		#navPanel .depth-0 { color: #fff; }


/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		display: none;
	}
